#shopping{color: green;}
figure img{width: 90px; position: relative; top: 3px;}
h1{font-family: cursive;  margin-left: 140px;}
.header{background-color: #b5e61d;}
.ladies{color:red;}
.ladies:hover{background-color: red;
color: white;
border-radius: 10px;}
.gents{color: black;}

.gents:hover{background-color: black;
color: white;
border-radius: 10px;}
.baba{color:blue;}

.baba:hover{background-color: blue;
color: white;
border-radius: 10px;}
.baby{color: gold;}

.baby:hover{background-color: gold;
color: white;
border-radius: 10px;}
.navbar{background-color: #f4fcf3;}
.card img{margin-left: 0px;
height: 250px;}
.card-body{width: 200px;}
.card{height: 400px;
width: 200px;}
.header div div span{float: right;
 font-size: 14px; margin-right: 15px; font-family: cursive; font-weight: bold; 
color: green;}
 .header div div span:hover{cursor: pointer; }
.header div div{ margin-top: 40px;}
.lad{background-color:#F36EA0 ;}
.red{background-color:pink;}
.babas{background-color: #078AF1;}
.blue{background-color: #95D3EF;}
.babies{background-color: #F3FF00;}
.yellow{background-color: #F0F587;}
.links img{border-radius: 50%;
width: 50px;
height: 50px;}
div p img{width: 25px;
height: 25px;
border-radius: 50%;}
.about-font-family{font-family: cursive;}
.heading-about{margin-left: 13vw;}
.about-color{color:white; }
.about-color-2{color:grey;}
dt h3{text-decoration: underline;}
.footer ul{list-style: none;
margin-top: 10px;}
.footer{ background-color: #b5e61d;}
.footer ul li{display: inline; margin-left: 15px; color: green;}
.copyright{margin-right: 30px;}
.heading-contact{margin-left: 12vw;}




@media screen and (max-width: 1024px){

#shopping{font-size: 28px; font-weight: bold;}
.heading-about{margin-left: 10vw;}
.heading-contact{margin-left: 9vw;}

}


@media screen and (max-width: 780px)
{
	#shopping{margin-left:100px; font-size: 20px;}
	.header div img{width: 30px; margin-top:10px;
		}
		.header div div span{font-size: 11px; margin-right: 12px;}
		.header div div{margin-top: 20px;}
			.header div h1{font-size: 18px; margin:auto;}
.heading-contact{margin-left: 4vw;}
.heading-about{margin-left: 6vw;}

}

@media screen and (max-width: 500px)
{
	.header div img{width: 30px; margin-top:10px;
		}
		.header div div span{font-size: 9px; margin-right: 12px;}
		.header div div{margin-top: 20px;}
			.header div h1{font-size: 15px; margin:auto;}
		.heading-contact{margin-left: 14vw; font-size: 32px; font-weight: bold;}
		.heading-about{margin-left: -6vw; font-size: 32px; font-weight: bold;}



		}

@media screen and (max-width: 430px){
	#shopping{margin-left: 25vw;}
	.heading-contact{margin-left:15vw;}
	.heading-about{margin-left: -5vw;}
}

@media screen and (max-width: 375px){
	#shopping{margin-left: 20vw;}
	.heading-about{margin-left: -12vw;}

	.heading-contact{margin-left: 11vw;}
}
@media screen and (max-width: 320px)
{
	.header div img{width: 30px; margin-top:10px;
		}
		.header div div span{font-size: 9px; margin-right: 12px;}
		.header div div{margin-top: 20px;}
			.header div h1{font-size: 18px;}
		#shopping{margin-left: 19vw;
			margin-top: 8px;}
		
	.heading-about{margin-left: -12vw; font-weight: bold; font-size: 26px;}
	.heading-contact{margin-left: 10vw; font-weight: bold; font-size: 26px;}

		}
